h1{
    font-style: italic;
    text-align: center;
    
}

body {
    color :#4a4542;
}

img{
    width: 60%;
    align-items: center;
}

span{
    font-weight: bold; 
}

.img .list {
    
    flex-direction: row;
    flex: 1;

}
.list_intro li {
     padding: 5px;
 }

.list_intro{
    list-style-type: none;
    padding-bottom: 7px ;
}

.intro{
    display: flex ;
}


.description {
    text-align: center;
    background-color:#eeeeee ;
    padding: 20 20;
    margin: 0;
}

.list2 img{
    width: 20%;
}

.list2{
   display: flex;
   flex-direction: row;
   align-items: center;
}