header{

    
    width:100%;
    display: flex;
    justify-content: space-between;
    /* border: purple solid 5px; */
    background-color: rgb(204, 95, 95);
    
}
footer{
    height: 40px;
    width: 100%;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border: purple solid 5px; */
    background-color: grey;
    
}