header{
    
    position:fixed;
    width:99%;
    display: flex;
    justify-content: space-between;
    /* border: purple solid 5px; */
    background-color: rgb(204, 95, 95);
    
}


.title{
    font-size: 30px;
    font-weight:400;
    font-family: 'Courier New', Courier, monospace;
    /* border: green solid  2px; */
    max-width: 300px;
}

.buttons{
    display:flex;
    align-items:center;
    justify-content: space-around;
    width: 150px;px;
    /* border: greenyellow solid 2px; */
}
button{

    /* background-color: tomato; */
}
body{
    /* border: rgb(231, 7, 45) 5px solid; */
    
}

span{
    font-weight: bold;
}
.page{
    display:flex;
    flex-direction: column;
    padding-top: 60px;
    /* border: solid brown 7px; */
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h2{
    padding-top: 0px;
    margin-top: 5px;
}

.article1{
    border-style: ridge; 
    border-color:rgb(235, 243, 243);
    display:flex;
    /* border: black solid 2px; */
    max-width:700px;
    flex-direction: row;
    justify-content: space-evenly ;
    
}

.article2{
    /* border: black solid 2px; */
    border-style: ridge; 
    border-color:rgb(235, 243, 243);
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;

}

.intro{
    padding-top: 10px;
}
img{

 width: 30%;
 
}
h1{
    
    display:flex;
    justify-content: center;
    /* border: pink solid 3px; */
    max-height: 30px;
    
}


footer{
    margin-top: 200px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    /* border: purple solid 5px; */
    background-color: grey;
}
a:link{
    font-weight: bold;
    font-style: italic;
    /* text-decoration: none;
    font-family:sans-serif;
    font-weight: bolder;
    font-size: 2em;
    font-style:italic;
    margin-top:0.67em;
    margin-bottom:0.67em;
    margin-left:0;
    margin-right:0;
    color: black;
    display:flex;
    justify-content: center; */
    /* border: pink solid 3px; */
   
}
a:visited{
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bolder;
    font-size: 2em;
    margin-top:0.67em;
    margin-bottom:0.67em;
    margin-left:0;
    margin-right:0;
    color:black;
    display:flex;
    justify-content: center;
    /* border: pink solid 3px; */

}

a:hover{
    color:grey;
}