header{

    position:fixed;
    width:97.5%;
    display: flex;
    justify-content: space-between;
    /* border: purple solid 5px; */
    background-color: rgb(204, 95, 95);   
}


h1{
    font-style: italic;
    text-align: center;
    padding: 50px 25px;
    
}

body {
    color :#4a4542;
    font-family: sans-serif;
}

img{
    width: 60%;
    align-items: center;
}

span{
    font-weight: bold; 
}

.img .list {
    
    flex-direction: row;
    /* flex-grow: 0; */
    /* flex-basis: 500px; */
  
}
.list_intro li {
     padding: 5px;
 }

.list_intro{
    list-style-type: none;
    padding:10px 7px ;
}

.intro{
    display: flex ;
    justify-content: center;
    align-items:center
}

.text_area{
    flex-grow: 0;
    flex-basis: 1100px;
}

.description {
    text-align: center;
    background-color:#eeeeee ;
    display: flex ;
    justify-content: center;
    align-items:center;
    
}

.list2 img{
     width: 20%;
     flex-grow: 0;
    flex-basis: 200px; 
     
}

.list2 li{
    padding:5px 5px;
    list-style-type: circle;
  
}

    
.list2{
    display: flex ;
    justify-content: center;
    align-items:center;
}

footer{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    /* border: purple solid 5px; */
    background-color: grey;
}
