h1{
    font-style: italic;
    text-align: center;
    padding: 25px 25px;
    
}

body {
    color :#4a4542;
}

img{
    width: 60%;
    align-items: center;
}

span{
    font-weight: bold; 
}

.img .list {
    
    flex-direction: row;
    /* flex-grow: 0; */
    /* flex-basis: 500px; */
  

}
.list_intro li {
     padding: 5px;
 }

.list_intro{
    list-style-type: none;
    padding:10px 7px ;
}

.intro{
    display: flex ;
    justify-content: center;
    align-items:center
}

.text_area{
    
    width: 300px;
}

.description {
    text-align: center;
    background-color:#eeeeee ;
    max-width: 100%;
    padding: 20 20;
    
}

.intro .description {
display: flex;
flex-direction: column;
justify-content: center;


}

.list2 img{
     width: 20%;
     flex-grow: 0;
    flex-basis: 200px; 
     
}

.list2 li{
    padding:5px 5px;
    list-style-type: circle;
  
}

    
.list2{
    display: flex ;
    justify-content: center;
    align-items:center
}