  header{
    position:fixed;
    width:99%;
    display: flex;
    justify-content: space-between;
    border: purple solid 5px;
    background-color: rgb(204, 95, 95);    
}  
footer{ 
    margin-top: 235px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    border: purple solid 5px; 
    background-color: grey;
} 